.popup {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    position: relative;

    &-close.mfp-close {
        color: $white;
        border: none;
        padding: 0;
        outline: none;
        opacity: 0;
    }

    &_holder {
        background-color: $green;

        min-height: 385px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .popup_form-footer {
            padding: 10px 0;

            .popup-btn {
                width: 135px;
                height: 45px;
                background-color: $white;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 2.143;
            }

            .popup_link--create {
                width: 250px;
                height: 50px;
                background: #76ae36;
                padding: 10px;
                margin: 10px;
                border: 1px solid #76ae36;
                font-size: 14px;
                line-height: 2.143;
                color: $white;
            }
        }

        .popup-link {
            font-size: 14px;
            line-height: 2.143;
            color: $white;
            background: none;
        }
    }

    &_block {
        max-width: 400px;
        width: 100%;
    }

    &_title {
        font-size: 48px;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.75;
    }

    &_input {
        position: relative;
        color: $white;
        padding: 10px 40px;
        line-height: 20px;
        font-size: 14px;
        width: 100%;
        z-index: 2;
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;

        &::placeholder {
            color: $white;
        }

        &-holder {
            position: relative;
            background-color: #76ae36;

            i {
                position: absolute;
                color: $white;
                left: 18px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 13px;
            }
        }
    }
}

.input-hidden {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
}
