.product {

    &_card {

        &-star {
            color: #b5b5b5b5;
            font-size: 11px;


            &.active {
                color: #ffa726;
            }
        }

        &-main {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-footer {
            @extend .product_card-main;
        }
    }
}