.sidebar {
    width: 300px;
    padding: 0 15px;

    .range_btn {
        height: 48px;
        width: 206px;
        text-align: center;
        margin: 30 auto;
        padding: 10px 25px;
        color: $white;
        background: $green;
        font-size: 15px;
        font-family: $base-f-amily;
        justify-content: center;
        display: inline-block;
    }

    .block-line {
        display: inline-block;
        width: 208px;
        height: 2px;
        background: #dcdcdd;
        
      }

.sidebar_block {
    border: 2px solid #dcdcdd;
    height: 262px;
    background-color: $white;
    padding: 0 15px;
    margin: 10px auto;
}
}
