.product_item {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 100%;

    .product_details {
        width: 48%;
        text-align: center;
        justify-content: center;
        padding: 0px 15px;
    }

    img {
        border: 10px solid $white;
        text-align: center;
        margin: 0 auto;
    }

    h2 {
        font-family: $base-f-family;
        font-size: 25px;
        line-height: 1.3;
        text-align: left;
    }

    p {
        font-size: 13px;
        font-family: $base-f-family;
        color: #707070;
        text-align: left;
        line-height: 1.3;
    }

    .product_btn {
        display: flex;
        text-align: left;
        left: 10px;
        margin-top: 50px;
        padding: 5px;

        .btn_live {
            background-color: $red;
            color: $white;
            width: 95px;
            height: 30px;
            border: none;
            border-radius: 3%;
            cursor: pointer;
            margin: 9px;
            padding: 10px;
        }
        .btn_screnshot {
            background-color: #455a64;
            color: $white;
            width: 95px;
            height: 30px;
            border: none;
            border-radius: 3%;
            cursor: pointer;
            margin: 9px;
            padding: 10px;
        }
        .btn_doc {
            background-color: $green;
            color: $white;
            width: 95px;
            height: 30px;
            border: none;
            border-radius: 3%;
            cursor: pointer;
            margin: 9px;
            padding: 10px;
        }
    }

    .info_menu {
        display: flex;
        text-align: right;
        right: 0px;
        margin-top: 4px;
        padding: 0 15px;
        margin-left: 70px;
        cursor: pointer;

        a {
            padding: 3px 4px;
        }

        .help_icon {
            margin: -4px -11px;
            width: 49px;
            height: 49px;
        }

        .fab {
            width: 49px;
            height: 49px;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        .fa-facebook-square {
            color: #3b5998;
            z-index: 2;
            width: 49px;
            height: 49px;
            overflow: hidden;
        }

        .fa-twitter-square {
            color: #55acee;
            overflow: hidden;
            width: 49px;
            height: 49px;
        }

        .fa-pinterest {
            color: $red;
            width: 49px;
            height: 49px;
        }

        .fa-linkedin {
            color: #1565c0;
            width: 49px;
            height: 49px;
        }
    }
}

.features_tabs {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    top: 50px;

    .features_tabs-item {
        background-color: $white;
        display: block;
        justify-content: space-around;
        align-content: center;
        text-align: left;
        flex-wrap: wrap;
        border: 0.1px solid #dcdcdc;
        width: 215px;
        height: 40px;

        .js_tabs-link {
            font-family: $base-f-family;
            font-size: 14px;
            color: #555c60;
            padding: 6px 8px;
            margin: 6px;

            text-align: center;
            justify-content: center;
            cursor: pointer;
        }

        .tab-active {
            opacity: 1;
            border-bottom: 3px solid $green;
            color: #263238;
            cursor: pointer;
        }
    }
}

.menu_features {
    display: block;
    padding: 20px 25px;
    margin: 0px auto;
    background-color: $white;
    justify-content: space-around;
    align-content: center;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border: 0.1px solid #dcdcdc;
    width: 860px;
    height: 200px;
    columns: 180px 2;

    a {
        display: block;

        .fa-angle-right {
            color: $green;
        }

        span {
            font-size: 12px;
            font-family: $base-f-family;
            color: #263238;
            text-align: left;
            line-height: 2.6;
        }

        i {
            columns: $var-black;
        }

        @media (max-width: $tablet-df) {
            display: none;
        }
    }
}
